apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jellyfin-proxy-ingress
  namespace: projects
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - jellyfin.alexmickelson.guru
      secretName: jellyfin-tls-cert
  rules:
    - host: jellyfin.alexmickelson.guru
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jellyfin-service
                port:
                  number: 8096
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin-service
  namespace: projects
spec:
  ports:
    - port: 8096
      targetPort: 8096
      protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: jellyfin-service
  namespace: projects
subsets:
  - addresses:
      - ip: 100.122.128.107
    ports:
      - port: 8096
        protocol: TCP
