apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jellyfin-proxy-ingress
  namespace: projects
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - jellyfin.alexmickelson.guru
      secretName: jellyfin-tls-cert
  rules:
    - host: jellyfin.alexmickelson.guru
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jellyfin
                port:
                  number: 8096
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: projects
spec:
  ports:
    - port: 8096
      targetPort: 8096
      protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: jellyfin
  namespace: projects
  labels:
    kubernetes.io/service-name: jellyfin
addressType: IPv4
ports:
  - name: http
    port: 8096
    protocol: TCP
endpoints:
  - addresses:
      - 100.122.128.107
    conditions:
      ready: true
