apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: musicassistant-ingress
  namespace: projects
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - sound.alexmickelson.guru
      secretName: sound-tls-cert
  rules:
    - host: sound.alexmickelson.guru
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: musicassistant
                port:
                  number: 8095
---
apiVersion: v1
kind: Service
metadata:
  name: musicassistant
  namespace: projects
spec:
  ports:
    - port: 8095
      targetPort: 8095
      protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: musicassistant
  namespace: projects
  labels:
    kubernetes.io/service-name: musicassistant
addressType: IPv4
ports:
  - name: http
    port: 8095
    protocol: TCP
endpoints:
  - addresses:
      - 100.122.128.107
    conditions:
      ready: true
