name: Apply Kuberentes Configs
on: [push, workflow_dispatch]
jobs:
  update-repo:
    runs-on: [home-server]
    steps:
      - name: checkout repo
        working-directory: /home/github/infrastructure
        run: |
          if [ -d "infrastructure" ]; then
            cd infrastructure
              echo "Infrastructure folder exists. Resetting to the most recent commit."
              git reset --hard HEAD
              git pull https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} $(git rev-parse --abbrev-ref HEAD)
          else
            git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          fi
  update-infrastructure:
    runs-on: [home-server]
    needs: update-repo 
    steps:
      - name: update home server containers
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
          HOMEASSISTANT_TOKEN: ${{ secrets.HOMEASSISTANT_TOKEN }}
          GRAFANA_PASSWORD: ${{ secrets.GRAFANA_PASSWORD }}
          CLOUDFLARE_CONFIG: ${{ secrets.CLOUDFLARE_CONFIG }}
          COPILOT_TOKEN: ${{ secrets.COPILOT_TOKEN }}
        working-directory: /home/github/infrastructure/infrastructure
        run: |
          kubectl apply -f kuberentes/ingress
          kubectl apply -f kuberentes/proxy-ingress